extends layout

block content
    .container.mt-5
        .row
            h1 #{statusCode} #{statusPhrase}
        .row
            if data
                pre= data
            else
                if statusCode == 401
                    | !{i18n('error_401')}
                else if statusCode == 403
                    | !{i18n('error_403')}
                else if statusCode == 404
                    | !{i18n('error_404')}
                else if statusCode == 500
                    | !{i18n('error_500')}
        .row
            each error in errors
                if error.stack
                    pre= error.stack
                else
                    pre= error