extends layout

block content
    .container.top-offset
        .row
            h1 #{statusCode} #{statusPhrase}
        .row
            if data
                pre= data
        .row
            each error in errors
                if error.stack
                    pre= error.stack
                else if Array.isArray(error)
                    each sub in error
                        if sub.stack
                            pre= sub.stack
                        else
                            pre= sub
                else
                    pre= error